<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal - {{page_name}}</title>
    <link rel="stylesheet" type="text/css" href="static\css\main.css">
</head>
<body>

<div class="navbar">
    <img src="{{logo_img}}" alt="Logo" style="width:60px;height:60px;">
    <p>{{website_title}}</p>
    <a href="/Support">Support</a>
    <a href="/Connections">Connections</a>
    <a href="/Home">Home</a>
</div>

<div class="content">
    </br>
    <h2>Welcome!</h2>
    <p>{{website_title}} is a tool used for accessing and monitoring Apache Guacamole remote desktop connections.<br><br>To get conntected head over to <a href="/Connections">Connections</a>. For extra help/support visit the <a href="/Support">Support</a> page.</p>
    </br>
    <h2>What is Apache Guacamole?</h2>
    <p>Apache Guacamole is a clientless remote desktop gateway which supports standard protocols like VNC, RDP, and SSH. “clientless” because no plugins or client software are required.</p>
    </br>
    <h2>How do I get Access Rights?</h2>
    <p>Insert instructions here...</p>
    </br>
    <h2>How do I use {{website_title}}?</h2>
    <p>Insert instructions here...</p>
</div>


</body>
</html>
